.control__list {
    display: flex;
    gap: 12px;
}

.control__button {
padding: 10px;
border-radius: 12px;
background-color: rgb(189, 186, 189);
transition: all 0.25s ease-in-out;
color: rgb(0, 0, 0);
}

.control__button:is(:hover, :focus) {
background-color: rgb(164, 194, 218);
color: rgb(2, 73, 153);
border-color: rgb(2, 73, 153);
}

.control__svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
}